@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  color: #1f1f1f;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/public/assets/fonts/Quicksand.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 900;
  font-style: normal;
}

@layer base {
  body {
    @apply font-quicksand;
  }
}

input {
  height: 40px;
}
